# Auth
CLERK_SECRET_KEY=
CLERK_WEBHOOK_SECRET=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=

# Storage
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=
S3_REGION=

# Vector DB
PINECONE_API_KEY=
PINECONE_INDEX=

# AI
OPENAI_API_KEY=

# Database
DATABASE_URL=

# Billing
STRIPE_SECRET_KEY=
